/** geral **/
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 1300px;
  margin: 0 auto;
  background: #b3b3b3;
  font-size: 14px; }
  body a:link {
    text-decoration: none; }
  body a {
    color: #b3b3b3;
    transition: 0s, 1s; }
  body a:hover {
    color: #fff;
    transition-delay: 0s, 1s;
    transition: 0s, 1.5s;
    text-shadow: 0 0 20px #fff; }
  @media (max-width: 700px) {
    body {
      font-size: 13px; } }

#site {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  background: #b3b3b3;
  color: #fff;
  overflow-x: hidden;
  line-height: 1.4;
  font-family: 'Ubuntu', sans-serif, 'Barriecito', cursive, Arial, Helvetica, sans-serif; }
  @media (max-width: 700px) {
    #site #destaque {
      background: #09394f; } }
  #site section {
    padding-top: 0;
    margin: 0;
    box-sizing: border-box; }
    @media (max-width: 700px) {
      #site section {
        padding: 5%; } }
  @media (max-width: 700px) {
    #site {
      flex-wrap: wrap; } }

/** header **/
header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  background: #0f5a7c;
  float: left;
  width: 20em;
  text-align: center;
  font-weight: bold;
  border: 0.1em solid #090806;
  padding: 2em 2em 4em 2em; }
  header i {
    vertical-align: sub;
    margin: 0 .5em; }
  header h1 {
    text-transform: uppercase; }
  header strong:hover, header strong:focus {
    transition-delay: 0s, 1s;
    transition: 0s, 1.5s;
    text-shadow: 0 0 20px #fff; }
  header strong {
    transition: 0s, 1s; }
  header .objetivo {
    transition: box-shadow 1s, transform 1s;
    transition-delay: 1s, 0s; }
  header .objetivo:hover, header .objetivo:focus {
    transition-delay: 0s, 1s;
    transform: scale(1.4);
    box-shadow: 0 0 0 #fff; }
  header ul, header p {
    padding: 0;
    margin: 0; }
  header h2 {
    background: rgba(9, 8, 6, 0.4);
    border-radius: 50px;
    border: 1px solid #fff; }
  header .foto {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px #fff;
    transition: box-shadow 1s, transform 1s;
    transition-delay: 1s, 0s; }
    @media (max-width: 700px) {
      header .foto {
        width: 40%; } }
  header .foto:hover, header .foto:focus {
    transition-delay: 0s, 1s;
    transform: scale(1.4) rotate(360deg);
    box-shadow: 0 0 0 #fff; }
  header #contatos ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap; }
  header #contatos a {
    color: #fff; }
  header #redes-sociais {
    /*
    #0077B5
    #8134AF
    #3B5998
    #25D366
    #333333
    */ }
    header #redes-sociais ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
      align-content: center;
      flex-wrap: wrap; }
    header #redes-sociais a {
      color: #fff; }
    header #redes-sociais .fa-linkedin:hover, header #redes-sociais .fa-linkedin:focus {
      transition-delay: 0s, 2s;
      transform: scale(1.4) rotate(360deg);
      color: #0077B5; }
    header #redes-sociais .fa-instagram:hover, header #redes-sociais .fa-instagram:focus {
      transition-delay: 0s, 2s;
      transform: scale(1.4) rotate(360deg);
      color: #8134AF; }
    header #redes-sociais .fa-facebook-square:hover, header #redes-sociais .fa-facebook-square:focus {
      transition-delay: 0s, 2s;
      transform: scale(1.4) rotate(360deg);
      color: #3B5998; }
    header #redes-sociais .fa-whatsapp-square:hover, header #redes-sociais .fa-whatsapp-square:focus {
      transition-delay: 0s, 2s;
      transform: scale(1.4) rotate(360deg);
      color: #25D366; }
    header #redes-sociais .fa-github-square:hover, header #redes-sociais .fa-github-square:focus {
      transition-delay: 0s, 2s;
      transform: scale(1.4) rotate(360deg);
      color: #333333; }
  @media (max-width: 700px) {
    header {
      width: 100%;
      padding: 1em; } }

/** main **/
main {
  width: 70%;
  padding: 0 5%;
  background: #fff;
  color: #000;
  margin: 1em;
  box-shadow: 2px 2px #090806;
  line-height: 2;
  padding: 4em;
  border-radius: 10px 0 0 0; }
  main h2 {
    text-align: center;
    margin: 5% 0; }
  main strong {
    font-weight: bold;
    color: #0f5a7c;
    text-shadow: 0 0 1px #b3b3b3; }
  main .material-icons {
    vertical-align: sub;
    margin-right: 1em;
    font-size: x-large; }
  main a {
    color: #090806;
    text-decoration-line: none; }
  @media (max-width: 700px) {
    main {
      width: 100%;
      padding: 0; } }

/** footer **/
footer {
  width: 100%;
  box-sizing: border-box;
  padding: .1em;
  background: rgba(9, 8, 6, 0.8);
  color: #fff;
  font-weight: bold;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  border-radius: 10px 10px 0 0; }
  footer p, footer strong {
    text-align: center;
    flex-grow: 1; }
  footer strong {
    flex-grow: 3; }

/*# sourceMappingURL=curriculo.css.map */
