/** geral **/
#site {
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  background: lightgray;
  color: #fff;
  overflow-x: hidden;
  line-height: 1.4;
  font-size: 80%;
  font-family: 'Ubuntu', sans-serif, 'Barriecito', cursive, Arial, Helvetica, sans-serif; }
  #site section {
    padding-top: 0;
    margin: 0;
    box-sizing: border-box; }

/** header **/
header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 2%;
  background: #0f5a7c;
  float: left;
  width: 20em;
  text-align: center;
  font-weight: bold;
  border: 0.1em solid #090806; }
  header a:link {
    text-decoration: none;
    color: #fff; }
  header a {
    color: lightgray;
    transition: 0s, 1s; }
  header a:hover {
    color: #fff;
    transition-delay: 0s, 1s;
    transition: 0s, 1.5s;
    text-shadow: 0 0 20px #fff; }
  header i {
    vertical-align: sub;
    margin: 0 .5em; }
  header h1 {
    text-transform: uppercase; }
  header strong:hover, header strong:focus {
    transition-delay: 0s, 1s;
    transition: 0s, 1.5s;
    text-shadow: 0 0 20px #fff; }
  header strong {
    transition: 0s, 1s; }
  header ul, header p {
    padding: 0;
    margin: 0; }
  header h2 {
    background: rgba(9, 8, 6, 0.4);
    border-radius: 50px;
    border: 1px solid #fff; }
  header .foto {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px #fff;
    transition: box-shadow 1s, transform 1s;
    transition-delay: 1s, 0s; }
  header .foto:hover, header .foto:focus {
    transition-delay: 0s, 1s;
    transform: scale(1.4) rotate(360deg);
    box-shadow: 0 0 0 #fff; }
  header #contatos {
    /*.fa-whatsapp-square::before{
        content: "\f232";
    }
    .fa-envelope-square::before{
        content: "\f199";
    }*/ }
    header #contatos ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
      align-content: center;
      flex-wrap: wrap; }
    header #contatos i.fas, header #contatos i.fab {
      color: #fff;
      padding-right: 1em;
      top: 10px;
      left: 0;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      font-size: 100%;
      transition: 0s, 1s; }
    header #contatos i.fas:hover, header #contatos i.fab:hover {
      transition-delay: 0s, 1s;
      transition: 0s, 1.5s;
      text-shadow: 0 0 20px #fff; }
  header #redes-sociais {
    /*.fa-linkedin:before {
        content: "\f08c";
    }
    .fa-instagram:before {
        content: "\f16d";
    }
    .fa-facebook-square:before {
        content: "\f082";
    }
    .fa-whatsapp-square:before {
        content: "\f232";
    }
    .fa-github-square:before {
        content: "\f092";
    }*/ }
    header #redes-sociais ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
      align-content: center;
      flex-wrap: wrap; }
    header #redes-sociais i.fas, header #redes-sociais i.fab {
      color: #fff;
      padding-right: 1em;
      top: 10px;
      left: 0;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      font-size: 140.0781%; }

/** main **/
main {
  width: 64.1813%;
  float: right;
  padding: 0 5%;
  background: #fff;
  color: #000;
  margin: 1em;
  box-shadow: 2px 2px #090806;
  line-height: 2; }
  main h2 {
    text-align: center;
    margin: 5% 0; }
  main strong {
    font-weight: bold;
    color: #0f5a7c;
    text-shadow: 0 0 1px lightgray; }
  main .material-icons {
    vertical-align: sub;
    margin-right: 1em;
    font-size: x-large; }

/*# sourceMappingURL=curriculo.css.map */
