.contatos{
    flex-direction: column;
    .lista-contatos{
        font-size: .8em;
        display: flex;
        flex-direction: column;
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            i{
                margin-right: .5em;
            }
        }
    }
}