.destaque{
    img{
        border-radius: 50%;
        border: none;
        background: $cor-secundaria;
    }
    #nome{
        text-transform: uppercase;
        font-size: 1.5em;
        margin: 2em 0;
    }
}