header {
    background: $cor-principal;
    color: $cor-secundaria;
    width: 20% !important;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    justify-content: space-around;
    ul{
        padding: 0;
        list-style: none;
    }
    section{
        display: flex;
    }
    a{
        color: $cor-secundaria;
    }
}