$cor-principal: #0f5a7c;
$cor-secundaria: #fff;
$cor-texto: #090806;
/*
$linkedin-cor: #0077b5;
$instagram-cor: #DD2A7B;
@mixin instagram {
    background: -webkit-linear-gradient(#515BD4, #8134AF, #DD2A7B, #FEDA77, #F58529);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
$facebook-cor: #4266b1;
$whatsapp-cor: #5abfa5;
$github-cor: #24292e;

//mixins
@mixin flexbox-around {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}
@mixin flexbox-between{
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}
@mixin icones ($tamanho) {
    padding: 1em;
    top: 10px;
    left: 0;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: $tamanho;
}
@mixin destaque-hover {
    transition-delay: 0s, 1s;
    transition: 0s, 1.5s;
    text-shadow: 0 0 20px $cor-secundaria;
}
*/