//variaveis
$cor-principal: #0f5a7c;
$cor-secundaria: #fff;
$sombra: #090806;
$mobile: "(max-width: 700px)";
$linkedin-cor: #0077b5;
$instagram-cor: #DD2A7B;
@mixin instagram {
    background: -webkit-linear-gradient(#515BD4, #8134AF, #DD2A7B, #FEDA77, #F58529);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
$facebook-cor: #4266b1;
$whatsapp-cor: #5abfa5;
$github-cor: #24292e;

//mixins
@mixin flexbox-around {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}
@mixin flexbox-between{
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}
@mixin icones ($tamanho) {
    padding: 1em;
    top: 10px;
    left: 0;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: $tamanho;
}
@mixin destaque-hover {
    transition-delay: 0s, 1s;
    transition: 0s, 1.5s;
    text-shadow: 0 0 20px $cor-secundaria;
}

/** geral **/
body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 1300px;
    margin: 0 auto;
    background: darken($color: $cor-secundaria, $amount: 30);
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif, 'Barriecito', cursive, Arial, Helvetica, sans-serif;
    a:link {
        text-decoration:none;
    }
    a{
        color: darken($color: $cor-secundaria, $amount: 30);
        transition: 0s, 1s;
    }
    a:hover{
        color: $cor-secundaria;
        @include destaque-hover();
    }
    @media #{$mobile}{
        font-size: 13px;
    }
}
#site{
    margin: 0;
    @include flexbox-between();
    flex-wrap: nowrap;
    background: darken($color: $cor-secundaria, $amount: 30);
    color: $cor-secundaria;
    overflow-x: hidden;
    line-height: 1.4;
    #destaque{
        @media #{$mobile} {
            background: darken($cor-principal, 10);
        }
    }
    section{
        padding-top: 0;
        margin: 0;
        box-sizing: border-box;
        @media #{$mobile} {
            padding: 5%;
        }
    }
    @media #{$mobile} {
        flex-wrap: wrap;
    }
}

/** header **/
header{
    @include flexbox-between();
    flex-direction: column;
    background: $cor-principal;
    float: left;
    width: 20em;
    text-align: center;
    font-weight: bold;    
    border: .1em solid $sombra;
    padding: 2em 2em 4em 2em;
    i{
        vertical-align: sub;
        margin: 0 .5em;
    }
    h1{
        text-transform: uppercase;
    }
    strong:hover, strong:focus{
        @include destaque-hover();
    }
    strong{
        transition: 0s, 1s;
    }
    .objetivo{
        transition: box-shadow 1s, transform 1s;
        transition-delay: 1s, 0s;
    }
    .objetivo:hover, .objetivo:focus {
        transition-delay: 0s, 1s;
        transform: scale(1.4);
        box-shadow: 0 0 0 $cor-secundaria;
    }
    ul, p{
        padding: 0;
        margin: 0;
    }
    h2{
        background: rgba($sombra, .4);
        border-radius: 50px;
        border: 1px solid $cor-secundaria;
    }
    .foto {
        width: 100%;
        border-radius: 50%;
        box-shadow: 0 0 5px $cor-secundaria;
        transition: box-shadow 1s, transform 1s;
        transition-delay: 1s, 0s;
        @media #{$mobile} {
            width: 40%
        }
    }
    .foto:hover, .foto:focus {
        transition-delay: 0s, 1s;
        transform: scale(1.4) rotate(360deg);
        box-shadow: 0 0 0 $cor-secundaria;
    }
    #contatos{
        ul{
            list-style: none;
            @include flexbox-around();
        }
        a{
            color: $cor-secundaria;
        }
    }
    #redes-sociais{
        ul{
            list-style: none;
            @include flexbox-around();
        }
        a{
            color: $cor-secundaria;
        }
        .fa-linkedin{
            &:hover, &:focus{
                transition-delay: 0s, 2s;
                transform: scale(1.4) rotate(360deg);
                color: $linkedin-cor;
            }
        }
        .fa-instagram{
            @include instagram();
            &:hover, &:focus{
                transition-delay: 0s, 2s;
                transform: scale(1.4) rotate(360deg);
                color: $instagram-cor;
            }
        }
        .fa-facebook-square{
            &:hover, &:focus{
                transition-delay: 0s, 2s;
                transform: scale(1.4) rotate(360deg);
                color: $facebook-cor;
            }
        }
        .fa-whatsapp-square{
            &:hover, &:focus{
                transition-delay: 0s, 2s;
                transform: scale(1.4) rotate(360deg);
                color: $whatsapp-cor;
            }
        }
        .fa-github-square{
            &:hover, &:focus{
                transition-delay: 0s, 2s;
                transform: scale(1.4) rotate(360deg);
                color: $github-cor;
            }
        }
        /*
        #0077B5
        #8134AF
        #3B5998
        #25D366
        #333333
        */
    }
    @media #{$mobile} {
        width: 100%;
        padding: 1em;
    }
}

/** main **/
main{
    width: 70%;
    padding: 0 5%;
    background: $cor-secundaria;
    color: #000;
    margin: 1em;
    box-shadow: 2px 2px $sombra;
    line-height: 2;
    padding: 4em;
    border-radius: 10px 0 0 0;
    h2{
        text-align: center;
        margin: 5% 0;
    }
    strong{
        font-weight: bold;
        color: $cor-principal;
        text-shadow: 0 0 1px darken($color: $cor-secundaria, $amount: 30);
    }
    .material-icons{
        vertical-align: sub;
        margin-right: 1em;
        font-size: x-large;
    }
    a{
        color: $sombra;
        text-decoration-line: none;
        &:hover, &:focus{
            color: $cor-principal;
            font-weight: bold;
        }
    }
    @media #{$mobile} {
        width: 100%;
        padding: 0;
    }
}

/** footer **/
footer{
    width: 100%;
    box-sizing: border-box;
    padding: .1em;
    background: rgba($sombra, .8);
    color: $cor-secundaria;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0 0;
    p, strong{
        text-align: center;
        flex-grow: 1;
    }
    strong{
        flex-grow: 3;
    }
}