.redes-sociais{
    flex-direction: column;
    h2{
        display: none;
        @media #{$bp-mobile} {
            display: block;
        }
    }
    ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        bottom: 2em;
        right: 1.5em;
        z-index: 50;
        flex-direction: column;
        .fab, .far, .fas{
            font-size: 1.8em;
        }
        li{
            @media #{$bp-desktop} {
                text-shadow: 0 0 1em black;
            }
        }
        @media #{$bp-mobile} {
            position: relative;
            flex-flow: row nowrap;
            bottom: 0;
            right: 0;
        }
    }
}